EXPORT{
      Export_Id = {{ gfaas_volume_exportid }};
      Path = "/{{ gfaas_volume.name }}";
      FSAL {
           name = GLUSTER;
           hostname="{{ groups['master-gluster'][0] }}";
           volume="{{ gfaas_volume.name }}";
           }
      Access_type = RW;
      Disable_ACL = true;
      Squash="No_root_squash";
      Pseudo="/{{ gfaas_volume.name }}";
      Protocols = "4" ;
      Transports = "UDP","TCP";
      SecType = "sys";
     }
